In [28]:
import pandas as pd
df = pd.read_csv("../data_gpt_labeler/labeled_datasets/final_data_labeled_6.csv")
df.head()

,Unnamed: 0,rating,text,business_name,business_category,business_description,_id,policy_label
0,50000,4,Pizza from the hut the way I remember as a kid.,Pizza Hut,"['Pizza delivery', 'Chicken wings restaurant',...",Family-friendly chain known for its made-to-or...,1.0787578136914669e+20_1571680311648,1.0
1,50001,5,Order from them the other day it was great and...,Pizza Hut,"['Pizza delivery', 'Chicken wings restaurant',...",Family-friendly chain known for its made-to-or...,1.1688376278943746e+20_1545013271057,1.0
2,50002,3,Just ok. Odd location. Hard to park.,Pizza Hut,"['Pizza delivery', 'Chicken wings restaurant',...",Family-friendly chain known for its made-to-or...,1.0718381648538398e+20_1562385424249,0.0
3,50003,3,"Delivery only. Longer wait time than Dominoes,...",Pizza Hut,"['Pizza delivery', 'Chicken wings restaurant',...",Family-friendly chain known for its made-to-or...,1.0812212194720055e+20_1508006409181,1.0
4,50004,5,"Awesome, thanks Justin.",Pizza Hut,"['Pizza delivery', 'Chicken wings restaurant',...",Family-friendly chain known for its made-to-or...,1.057940126919024e+20_1339694564439,0.0

In [29]:
# Filtering data
filtered_df = df[df['policy_label'].notna()].reset_index().copy()
filtered_df

,index,Unnamed: 0,rating,text,business_name,business_category,business_description,_id,policy_label
0,0,50000,4,Pizza from the hut the way I remember as a kid.,Pizza Hut,"['Pizza delivery', 'Chicken wings restaurant',...",Family-friendly chain known for its made-to-or...,1.0787578136914669e+20_1571680311648,1.0
1,1,50001,5,Order from them the other day it was great and...,Pizza Hut,"['Pizza delivery', 'Chicken wings restaurant',...",Family-friendly chain known for its made-to-or...,1.1688376278943746e+20_1545013271057,1.0
2,2,50002,3,Just ok. Odd location. Hard to park.,Pizza Hut,"['Pizza delivery', 'Chicken wings restaurant',...",Family-friendly chain known for its made-to-or...,1.0718381648538398e+20_1562385424249,0.0
3,3,50003,3,"Delivery only. Longer wait time than Dominoes,...",Pizza Hut,"['Pizza delivery', 'Chicken wings restaurant',...",Family-friendly chain known for its made-to-or...,1.0812212194720055e+20_1508006409181,1.0
4,4,50004,5,"Awesome, thanks Justin.",Pizza Hut,"['Pizza delivery', 'Chicken wings restaurant',...",Family-friendly chain known for its made-to-or...,1.057940126919024e+20_1339694564439,0.0
...,...,...,...,...,...,...,...,...,...
9914,9977,59978,4,Service was good and food was decent,Whataburger,"['Restaurant', 'Breakfast restaurant', 'Chicke...",Circa-1950 fast-food chain for counter-serve b...,1.1019017904225693e+20_1471102061209,1.0
9915,9978,59979,5,"When I took a bite, I exclaimed ""What a burger...",Whataburger,"['Restaurant', 'Breakfast restaurant', 'Chicke...",Circa-1950 fast-food chain for counter-serve b...,1.0570738734783511e+20_1551848763085,1.0
9916,9988,59989,5,"Tasty, clean, friendly staff",Whataburger,"['Restaurant', 'Breakfast restaurant', 'Chicke...",Circa-1950 fast-food chain for counter-serve b...,1.1713928594119631e+20_1481121637586,1.0
9917,9993,59994,4,Expensive but great hamburgers,Whataburger,"['Restaurant', 'Breakfast restaurant', 'Chicke...",Circa-1950 fast-food chain for counter-serve b...,1.1326981232377587e+20_1543687860869,1.0
9918,9994,59995,5,My favorite burger place,Whataburger,"['Restaurant', 'Breakfast restaurant', 'Chicke...",Circa-1950 fast-food chain for counter-serve b...,1.0479517025905807e+20_1524267207052,1.0

In [30]:
print(filtered_df['policy_label'].value_counts())

policy_label
1.0    8534
0.0    1385
Name: count, dtype: int64

### Feature A

In [7]:
from modules.policy_A_module import policy_A_feature_generation
feature_A = policy_A_feature_generation(filtered_df)

[nltk_data] Downloading package wordnet to /Users/yumin/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/yumin/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

### Feature B

In [8]:
from modules.policy_B_module import calculate_specificity_score
feature_B = calculate_specificity_score(filtered_df, n_workers=4)

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/yumin/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /Users/yumin/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to /Users/yumin/nltk_data...
[nltk_data]   Package words is already up-to-date!

### Feature D2

In [9]:
from modules.policy_D2_module import calculate_interpretability_scores_for_df
feature_D2 = calculate_interpretability_scores_for_df(filtered_df, n_workers=4)

/Users/yumin/Documents/GitHub/TikTok-TechJam-2025/venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

### Feature E

In [11]:
from modules.policy_E_module import compute_consistency_scores
feature_E = compute_consistency_scores(filtered_df, max_workers=2)

Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment-latest were not used when initializing RobertaForSequenceClassification: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment-latest were not used when initializing RobertaForSequenceClassification: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

### Feature G

In [31]:
from modules.policy_G_module import compute_policy_g_series_processed



feature_G = compute_policy_g_series_processed(filtered_df)

In [32]:
print(feature_G)

0       0.990305
1       0.999477
2       0.999410
3       0.977368
4       0.999571
          ...
9914    0.999582
9915    0.999487
9916    0.957214
9917    0.999015
9918    0.999614
Name: policy_G_S_toxicity, Length: 9919, dtype: float64

### Concat Data into New CSV

In [33]:
df_featured_6 = pd.read_csv('../feature_engineering_model/featured_datasets/final_data_featured_6.csv')
print(df_featured_6)

      Unnamed: 0         A         B        D2         E
0              0  0.755270  0.553070  0.500000  0.750000
1              1  0.007409  0.559989  0.500000  0.986859
2              2  0.007982  0.552950  0.624615  0.645319
3              3  0.005442  0.574159  0.645191  0.707052
4              4  0.011812  0.569315  0.500000  0.989223
...          ...       ...       ...       ...       ...
9914        9914  0.008216  0.549692  0.500000  0.773126
9915        9915  0.484086  0.553054  0.576117  0.942918
9916        9916  0.007779  0.544649  0.500000  0.979812
9917        9917  0.010173  0.536573  0.500000  0.796173
9918        9918  0.557961  0.530914  0.500000  0.984082

[9919 rows x 5 columns]

In [34]:
df_temp = pd.concat([df_featured_6, feature_G], axis = 1)
print(df_temp)

      Unnamed: 0         A         B        D2         E  policy_G_S_toxicity
0              0  0.755270  0.553070  0.500000  0.750000             0.990305
1              1  0.007409  0.559989  0.500000  0.986859             0.999477
2              2  0.007982  0.552950  0.624615  0.645319             0.999410
3              3  0.005442  0.574159  0.645191  0.707052             0.977368
4              4  0.011812  0.569315  0.500000  0.989223             0.999571
...          ...       ...       ...       ...       ...                  ...
9914        9914  0.008216  0.549692  0.500000  0.773126             0.999582
9915        9915  0.484086  0.553054  0.576117  0.942918             0.999487
9916        9916  0.007779  0.544649  0.500000  0.979812             0.957214
9917        9917  0.010173  0.536573  0.500000  0.796173             0.999015
9918        9918  0.557961  0.530914  0.500000  0.984082             0.999614

[9919 rows x 6 columns]

In [35]:
df_temp = df_temp.rename(columns={"policy_G_S_toxicity":"G"})
print(df_temp)

      Unnamed: 0         A         B        D2         E         G
0              0  0.755270  0.553070  0.500000  0.750000  0.990305
1              1  0.007409  0.559989  0.500000  0.986859  0.999477
2              2  0.007982  0.552950  0.624615  0.645319  0.999410
3              3  0.005442  0.574159  0.645191  0.707052  0.977368
4              4  0.011812  0.569315  0.500000  0.989223  0.999571
...          ...       ...       ...       ...       ...       ...
9914        9914  0.008216  0.549692  0.500000  0.773126  0.999582
9915        9915  0.484086  0.553054  0.576117  0.942918  0.999487
9916        9916  0.007779  0.544649  0.500000  0.979812  0.957214
9917        9917  0.010173  0.536573  0.500000  0.796173  0.999015
9918        9918  0.557961  0.530914  0.500000  0.984082  0.999614

[9919 rows x 6 columns]

In [36]:
df_temp.to_csv("featured_datasets/final_data_featured_6.csv") #change file name so it does not overwrite

In [38]:
final_df = pd.read_csv("../feature_engineering_model/featured_datasets/final_data_featured_6.csv")
print(final_df)

      Unnamed: 0.1  Unnamed: 0         A         B        D2         E  \
0                0           0  0.755270  0.553070  0.500000  0.750000
1                1           1  0.007409  0.559989  0.500000  0.986859
2                2           2  0.007982  0.552950  0.624615  0.645319
3                3           3  0.005442  0.574159  0.645191  0.707052
4                4           4  0.011812  0.569315  0.500000  0.989223
...            ...         ...       ...       ...       ...       ...
9914          9914        9914  0.008216  0.549692  0.500000  0.773126
9915          9915        9915  0.484086  0.553054  0.576117  0.942918
9916          9916        9916  0.007779  0.544649  0.500000  0.979812
9917          9917        9917  0.010173  0.536573  0.500000  0.796173
9918          9918        9918  0.557961  0.530914  0.500000  0.984082

             G
0     0.990305
1     0.999477
2     0.999410
3     0.977368
4     0.999571
...        ...
9914  0.999582
9915  0.999487
9916  0.957214
9917  0.999015
9918  0.999614

[9919 rows x 7 columns]

In [12]:
print(len(feature_A), len(feature_B), len(feature_D2), len(feature_E))
pd.concat([feature_A, feature_B, feature_D2, feature_E], axis=1).shape

5972 5972 5972 5972

(5972, 4)

In [ ]:
df_save = pd.DataFrame()
# df = pd.concat([feature_A, feature_B, feature_D2, feature_E, feature_G], axis=1)
df_save = pd.concat([feature_A, feature_B, feature_D2, feature_E], axis=1)
# df = df.rename(columns={0:"A", 1:"B", 2: "D2", 3:"E", 4:"G"})
df_save = df_save.rename(columns={0:"A", 1:"B", 2: "D2", 3:"E"})
df_save.to_csv("featured_datasets/final_data_featured_2.csv") #change file name so it does not overwrite