In [1]:
import pandas as pd
df = pd.read_csv("../data_gpt_labeler/labeled_datasets/final_data_labeled_2.csv")
df.head()

,Unnamed: 0,rating,text,business_name,business_category,business_description,_id,policy_label
0,10000,4,Very clean place and great customer service. P...,Da Hawaiian Poke Company,['Hawaiian restaurant'],Classic poke is made with fresh local fish at ...,1.1646785119946047e+20_1485149267122,1.0
1,10001,1,"Numerous better options on the island, there's...",Da Hawaiian Poke Company,['Hawaiian restaurant'],Classic poke is made with fresh local fish at ...,1.0267678641614776e+20_1491101534705,0.0
2,10002,5,We visited this place for macadamia nuts and o...,Da Hawaiian Poke Company,['Hawaiian restaurant'],Classic poke is made with fresh local fish at ...,1.0332983715774515e+20_1530623117395,1.0
3,10003,4,Fresh ahi poke made fresh everyday. Depending...,Da Hawaiian Poke Company,['Hawaiian restaurant'],Classic poke is made with fresh local fish at ...,1.132809466479012e+20_1498982367483,1.0
4,10004,4,They offer a variety of fresh poke in their di...,Da Hawaiian Poke Company,['Hawaiian restaurant'],Classic poke is made with fresh local fish at ...,1.0883490360769959e+20_1459418469416,1.0

In [2]:
# Filtering data
filtered_df = df[df['policy_label'].notna()].reset_index().copy()
filtered_df

,index,Unnamed: 0,rating,text,business_name,business_category,business_description,_id,policy_label
0,0,10000,4,Very clean place and great customer service. P...,Da Hawaiian Poke Company,['Hawaiian restaurant'],Classic poke is made with fresh local fish at ...,1.1646785119946047e+20_1485149267122,1.0
1,1,10001,1,"Numerous better options on the island, there's...",Da Hawaiian Poke Company,['Hawaiian restaurant'],Classic poke is made with fresh local fish at ...,1.0267678641614776e+20_1491101534705,0.0
2,2,10002,5,We visited this place for macadamia nuts and o...,Da Hawaiian Poke Company,['Hawaiian restaurant'],Classic poke is made with fresh local fish at ...,1.0332983715774515e+20_1530623117395,1.0
3,3,10003,4,Fresh ahi poke made fresh everyday. Depending...,Da Hawaiian Poke Company,['Hawaiian restaurant'],Classic poke is made with fresh local fish at ...,1.132809466479012e+20_1498982367483,1.0
4,4,10004,4,They offer a variety of fresh poke in their di...,Da Hawaiian Poke Company,['Hawaiian restaurant'],Classic poke is made with fresh local fish at ...,1.0883490360769959e+20_1459418469416,1.0
...,...,...,...,...,...,...,...,...,...
5967,9979,19979,4,Awesome experience thus far except for this la...,The Cheesecake Factory,"['Restaurant', 'American restaurant', 'Dessert...",American chain restaurant offering sizable por...,1.1063547377321743e+20_1529799075601,1.0
5968,9980,19980,5,Excellent food and customer service,The Cheesecake Factory,"['Restaurant', 'American restaurant', 'Dessert...",American chain restaurant offering sizable por...,1.148709745904846e+20_1552799908686,1.0
5969,9994,19994,4,Enjoyed most of the food...good service,The Cheesecake Factory,"['Restaurant', 'American restaurant', 'Dessert...",American chain restaurant offering sizable por...,1.1485002627657445e+20_1536125465743,1.0
5970,9998,19998,4,The Luau salad is excellent! Pasta Da Vinci wa...,The Cheesecake Factory,"['Restaurant', 'American restaurant', 'Dessert...",American chain restaurant offering sizable por...,1.0947861878968879e+20_1528365104726,1.0
5971,9999,19999,5,Lunch was great fast to get seated and food wa...,The Cheesecake Factory,"['Restaurant', 'American restaurant', 'Dessert...",American chain restaurant offering sizable por...,1.012667000112821e+20_1536711337614,1.0

In [3]:
print(filtered_df['policy_label'].value_counts())

policy_label
1.0    5167
0.0     805
Name: count, dtype: int64

### Feature A

In [7]:
from modules.policy_A_module import policy_A_feature_generation
feature_A = policy_A_feature_generation(filtered_df)

[nltk_data] Downloading package wordnet to /Users/yumin/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/yumin/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

### Feature B

In [8]:
from modules.policy_B_module import calculate_specificity_score
feature_B = calculate_specificity_score(filtered_df, n_workers=4)

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/yumin/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /Users/yumin/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to /Users/yumin/nltk_data...
[nltk_data]   Package words is already up-to-date!

### Feature D2

In [9]:
from modules.policy_D2_module import calculate_interpretability_scores_for_df
feature_D2 = calculate_interpretability_scores_for_df(filtered_df, n_workers=4)

/Users/yumin/Documents/GitHub/TikTok-TechJam-2025/venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

### Feature E

In [11]:
from modules.policy_E_module import compute_consistency_scores
feature_E = compute_consistency_scores(filtered_df, max_workers=2)

Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment-latest were not used when initializing RobertaForSequenceClassification: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment-latest were not used when initializing RobertaForSequenceClassification: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

### Feature G

In [4]:
from modules.policy_G_module import compute_policy_g_series_processed



feature_G = compute_policy_g_series_processed(filtered_df)

/Users/evan/Documents/Projects/TikTok-TechJam-2025/venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [5]:
print(feature_G)

0       0.999618
1       0.999496
2       0.999522
3       0.999357
4       0.999096
          ...
5967    0.981098
5968    0.999406
5969    0.999536
5970    0.999534
5971    0.999450
Name: policy_G_S_toxicity, Length: 5972, dtype: float64

### Concat Data into New CSV

In [ ]:
df_featured_2 = pd.read_csv('../feature_engineering_model/featured_datasets/final_data_featured_2.csv')
print(df_featured_2)

      Unnamed: 0         A         B        D2         E
0              0  0.123417  0.585621  0.540383  0.775093
1              1  0.397054  0.574028  0.678968  0.411685
2              2  0.005817  0.568049  0.500000  0.989505
3              3  0.627677  0.569965  0.773275  0.787290
4              4  0.324965  0.580102  0.692452  0.815985
...          ...       ...       ...       ...       ...
5967        5967  0.083717  0.578868  0.500000  0.765673
5968        5968  0.013174  0.540510  0.500000  0.972227
5969        5969  0.009817  0.555765  0.500000  0.762812
5970        5970  0.013981  0.567627  0.612418  0.773057
5971        5971  0.011633  0.561088  0.500000  0.989267

[5972 rows x 5 columns]

In [12]:
df_temp = pd.concat([df_featured_2, feature_G], axis = 1)
print(df_temp)

      Unnamed: 0         A         B        D2         E  policy_G_S_toxicity
0              0  0.123417  0.585621  0.540383  0.775093             0.999618
1              1  0.397054  0.574028  0.678968  0.411685             0.999496
2              2  0.005817  0.568049  0.500000  0.989505             0.999522
3              3  0.627677  0.569965  0.773275  0.787290             0.999357
4              4  0.324965  0.580102  0.692452  0.815985             0.999096
...          ...       ...       ...       ...       ...                  ...
5967        5967  0.083717  0.578868  0.500000  0.765673             0.981098
5968        5968  0.013174  0.540510  0.500000  0.972227             0.999406
5969        5969  0.009817  0.555765  0.500000  0.762812             0.999536
5970        5970  0.013981  0.567627  0.612418  0.773057             0.999534
5971        5971  0.011633  0.561088  0.500000  0.989267             0.999450

[5972 rows x 6 columns]

In [13]:
df_temp = df_temp.rename(columns={"policy_G_S_toxicity":"G"})
print(df_temp)

      Unnamed: 0         A         B        D2         E         G
0              0  0.123417  0.585621  0.540383  0.775093  0.999618
1              1  0.397054  0.574028  0.678968  0.411685  0.999496
2              2  0.005817  0.568049  0.500000  0.989505  0.999522
3              3  0.627677  0.569965  0.773275  0.787290  0.999357
4              4  0.324965  0.580102  0.692452  0.815985  0.999096
...          ...       ...       ...       ...       ...       ...
5967        5967  0.083717  0.578868  0.500000  0.765673  0.981098
5968        5968  0.013174  0.540510  0.500000  0.972227  0.999406
5969        5969  0.009817  0.555765  0.500000  0.762812  0.999536
5970        5970  0.013981  0.567627  0.612418  0.773057  0.999534
5971        5971  0.011633  0.561088  0.500000  0.989267  0.999450

[5972 rows x 6 columns]

In [14]:
df_temp.to_csv("featured_datasets/final_data_featured_2.csv") #change file name so it does not overwrite

In [17]:
final_df = pd.read_csv("../feature_engineering_model/featured_datasets/final_data_featured_2.csv")
print(final_df)

      Unnamed: 0.1  Unnamed: 0         A         B        D2         E  \
0                0           0  0.123417  0.585621  0.540383  0.775093
1                1           1  0.397054  0.574028  0.678968  0.411685
2                2           2  0.005817  0.568049  0.500000  0.989505
3                3           3  0.627677  0.569965  0.773275  0.787290
4                4           4  0.324965  0.580102  0.692452  0.815985
...            ...         ...       ...       ...       ...       ...
5967          5967        5967  0.083717  0.578868  0.500000  0.765673
5968          5968        5968  0.013174  0.540510  0.500000  0.972227
5969          5969        5969  0.009817  0.555765  0.500000  0.762812
5970          5970        5970  0.013981  0.567627  0.612418  0.773057
5971          5971        5971  0.011633  0.561088  0.500000  0.989267

             G
0     0.999618
1     0.999496
2     0.999522
3     0.999357
4     0.999096
...        ...
5967  0.981098
5968  0.999406
5969  0.999536
5970  0.999534
5971  0.999450

[5972 rows x 7 columns]

In [12]:
print(len(feature_A), len(feature_B), len(feature_D2), len(feature_E))
pd.concat([feature_A, feature_B, feature_D2, feature_E], axis=1).shape

5972 5972 5972 5972

(5972, 4)

In [ ]:
df_save = pd.DataFrame()
# df = pd.concat([feature_A, feature_B, feature_D2, feature_E, feature_G], axis=1)
df_save = pd.concat([feature_A, feature_B, feature_D2, feature_E], axis=1)
# df = df.rename(columns={0:"A", 1:"B", 2: "D2", 3:"E", 4:"G"})
df_save = df_save.rename(columns={0:"A", 1:"B", 2: "D2", 3:"E"})
df_save.to_csv("featured_datasets/final_data_featured_2.csv") #change file name so it does not overwrite